{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-lg-9">
  <!-- Edit Profile -->
    <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
      <h2 class="g-font-weight-300 g-mr-10">{{ request.user.first_name }} {{ request.user.last_name }}</h2>
    </div>
    <ul class="list-inline g-font-weight-300">
      <li class="list-inline-item g-mr-20">
          <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> {{ perfil.codmunicipiodomicilio.descripcionmunicipio }} {{ perfil.coddepartamentodomicilio.descripciondepartamento }}
      </li>
      {% if request.user.is_active %}
      <li class="list-inline-item g-mr-20">
        {% if perfil.empleado %}
        <i class="icon-check g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Empleado Banrural
        {% else %}
        <i class="icon-check g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Usuario Verificado
        {% endif %}
      </li>
      {% endif %}
    </ul>
    <hr class="g-brd-gray-light-v4 g-mx-minus-30">
    {% if perfil.vista > 1 %}
    <div class="tab-pane fade show active" id="nav-1-1-default-hor-left-underline--1" role="tabpanel">
      <h2 class="h4 g-font-weight-300">Datos Generales
        <a href="{% url 'editar_datosgenerales' perfil.codsolicitud %}"><span>
          <i class="p icon-pencil g-color-gray-dark-v5 g-color-primary--hover g-cursor-pointer g-pos-rel g-top-1"></i>
        </span></a>
      </h2>
      {% if perfil.identidad %}
      <ul class="list-unstyled g-mb-30">
        <!-- Name -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Nombre</strong>
            <span class="align-top">{{ perfil.nombres }} {{ perfil.primerapellido }}</span>
          </div>
        </li>
        <!-- End Name -->
        <!-- Your ID -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Numero Identidad</strong>
            <span class="align-top">{{ perfil.identidad }}</span>
          </div>
        </li>
        <!-- End Your ID -->
        <!-- Company Name -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Dirección</strong>
            <span class="align-top">{{ perfil.direcciondomicilio }}</span>
          </div>
        </li>
        <!-- End Company Name -->

        <!-- Position -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Municipio</strong>
            <span class="align-top">{{ perfil.codmunicipiodomicilio.descripcionmunicipio }}</span>
          </div>
        </li>
        <!-- End Position -->

        <!-- Primary Email Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            {% if perfil.empleado %}
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Usuario:</strong>
            {% else %}
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Correo electrónico:</strong>

            {% endif %}
            <span class="align-top">{{ perfil.correo }}</span>
            
          </div>
        </li>
        <!-- End Primary Email Address -->

        <!-- Linked Account -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Teléfono Fijo</strong>
            <span class="align-top">{{ perfil.telefonofijo }}</span>
          </div>
        </li>

        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Teléfono Celular</strong>
            <span class="align-top">{{ perfil.celular }}</span>
          </div>
        </li>
        <!-- End Linked Account -->

        <!-- Website -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Fecha Nacimiento</strong>
            <span class="align-top">{{ perfil.fechanacimiento }}</span>
          </div>
        </li>
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Edad</strong>
            <span class="align-top">{{ perfil.edad }}</span>
          </div>
        </li>
        <!-- End Website -->
        <!-- Phone Number -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Sexo</strong>
            <span class="align-top">{{perfil.sexo}}</span>
          </div> 
        </li>
        <!-- End Phone Number -->

        <!-- Phone Number -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Estado Civil</strong>
            <span class="align-top" id="estadocivil"></span>
          </div>
        </li>
        <!-- End Phone Number -->

        <!-- Office Number -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Nacionalidad</strong>
            <span class="align-top">{{ perfil.lugarnacimiento }}</span>
          </div>
        </li>
        <!-- End Office Number -->

        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Profesión</strong>
            <span class="align-top" id="profesion">{{perfil.profesion}}</span>
          </div>
        </li>

        <!-- Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Posee Automovil</strong>
            {% if perfil.automovil == True %}
              <span class="align-top">Si </span>
            {% else %}
              <span class="align-top">No </span>
            {% endif %}

          </div>
        </li>
        <!-- End Address -->

        <!-- Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Licencia de Conducir</strong>
            <span class="align-top" id="licencias"></span>
          </div>
        </li>
        <!-- End Address -->

        <!-- Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Poliza de Seguros</strong>
            {% if perfil.polizaseguro == True %}
              <span class="align-top">Si - {{ perfil.companiapoliza }}</span>
            {% else %}
              <span class="align-top">No</span>
            {% endif %}
          </div>
        </li>
        <!-- End Address -->

        <!-- Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Practica Deportes</strong>
            {% if perfil.deporte == True %}
              <span class="align-top">Si - {{ perfil.tipodeporte }} - Desde {{ perfil.fechadeporte }}</span>
            {% else %}
              <span class="align-top">No</span>
            {% endif %}
          </div>
        </li>
        <!-- End Address -->

        <!-- Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Afiliación IHSS</strong>
            {% if perfil.numeroihss %}
              <span class="align-top">{{ perfil.numeroihss }}</span>
            {% else %}
              <span class="align-top">No</span>
            {% endif %}
          </div>
        </li>
        <!-- End Address -->

        <!-- Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">RTN</strong>
            {% if perfil.rtn %}
              <span class="align-top">{{ perfil.rtn }}</span>
            {% else %}
              <span class="align-top">No</span>
            {% endif %}
          </div>
        </li>
        <!-- End Address -->

        <!-- Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">N. Pasaporte</strong>
            {% if perfil.numeropasaporte %}
                <span class="align-top">{{ perfil.numeropasaporte }}</span>
            {% else %}
              <span class="align-top">No</span>
            {% endif %}
          </div>
        </li>
        <!-- End Address -->

        <!-- Address -->
        <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
          <div class="g-pr-10">
            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Nombre de clubes y/o asociaciones a las que ha pertenecido</strong>
            <span class="align-top">
              {% if lista_organizaciones %}
                {% for org in lista_organizaciones %}
                    {{ org.nombre }},
                {% endfor %}
              {% else %}
                Ninguna
              {% endif %}
            </span>
          </div>
        </li>
        <!-- End Address -->
      </ul>
      <div class="text-sm-right">
        <a class="btn u-btn-primary rounded-0 g-py-12 g-px-25" href="{% url 'editar_datosgenerales' perfil.codsolicitud %}">EDITAR DATOS PERSONALES</a>
      </div>
      {% endif %}
    </div>
    {% endif %}
    <!-- End Edit Profile -->
</div>
{% endblock content %}
{% block javascript %}
<script>
  $(document).on('ready', function () {
    var estado_civil = {S:"Soltero(a)", C:'Casado(a)', U:'Unión Libre', V:'Viudo(a)', D:'Divorciado(a)'}
    //var licencia = {A:"Automovil", M:'Motocicleta', O:'Otro'}
    $('#estadocivil').html(estado_civil["{{ perfil.estadocivil }}"]);
   // $('#licencia').html(licencia["{{ perfil.tipolicencia }}"]);
   //###############################################################################################################
   var todo='';
    if('{{perfil.liviana}}' == 'True'){
      todo  += "Liviana-";
    }
    if('{{perfil.pesada}}' == 'True'){
      todo +="Pesada-";
    }
    if('{{perfil.motocicleta}}' =='True'){
      todo +="Motocicleta";
    }
    $('#licencias').text(todo);
    //##########################################################################################################
    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
    // initialization of tabs
    $.HSCore.components.HSTabs.init('[role="tablist"]');
    // initialization of counters
    var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');
    // initialization of rating
    $.HSCore.components.HSRating.init($('.js-rating'), {
      spacing: 2
    });
    // initialization of HSScrollBar component
    $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
  });

  $(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    });

    // initialization of horizontal progress bars
    setTimeout(function () { // important in this case
      var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
        direction: 'horizontal',
        indicatorSelector: '.js-hr-progress-bar-indicator'
      });
    }, 1);
  });

  $(window).on('resize', function () {
    setTimeout(function () {
      $.HSCore.components.HSTabs.init('[role="tablist"]');
    }, 200);
  });


  $(document).on('ready', function () {
    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');

    // initialization of tabs
    $.HSCore.components.HSTabs.init('[role="tablist"]');

    // initialization of HSScrollBar component
    $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
  });

  $(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    });

    // initialization of horizontal progress bars
    setTimeout(function () { // important in this case
      var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
        direction: 'horizontal',
        indicatorSelector: '.js-hr-progress-bar-indicator'
      });
    }, 1);
  });
  $(window).on('resize', function () {
    setTimeout(function () {
      $.HSCore.components.HSTabs.init('[role="tablist"]');
    }, 200);
  });
  $(document).ready(function(){
    $('#sidemenu a').each(function(){
      $(this).removeClass();
      $(this).addClass('list-group-item list-group-item-action justify-content-between');
    });
    $('#datos').addClass('list-group-item list-group-item-action justify-content-between active');
  });
</script>
{% endblock javascript %}
