{% extends "baseform.html" %}
{% load staticfiles %}
{% block content %}
	<body>
	    <main class="g-min-height-100vh g-flex-centered g-pa-15">
	      <div class="text-center g-flex-centered-item g-position-rel g-pb-15">

	        <div class="g-absolute-centered">
	          	<h1 class="g-color-black g-mt-minus-8 mb-0">Registro&nbsp;Con&nbsp;Éxito</h1>
	          	<p class="g-font-size-18 mb-0"><a href="https://www.google.hn/" class="g-color-black g-color-primary--hover g-text-no-underline--hover">← Salir</a></p>
	        </div>
	      </div>
	    </main>
	</body>
{% endblock content %}
{% block javascript %}
<script>
  $(document).ready(function(){
  });
 
</script>
{% endblock javascript %}